body {
    font-family:'Courier New', Courier, monospace;
    background: linear-gradient(white, rgb(69, 38, 128), white); 
    height: 100%;
    width: auto;
    margin: 0;
  }
  
  main {
    margin: auto;
    text-align: center;
    padding: 50px;
  }
  
  .botones {
    margin: 5px;
    padding: 5px;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .botones button {
    margin: 5px;
  }

  .contenedor {
    background-color: rgb(190, 173, 255);
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 5px auto 10px auto;
    padding: 5px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  button {
    background-color: #452d9b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #7a7096;
  }
  
  button:hover {
    background-color: #583ca5;
  }

  button:hover:disabled {
    background-color: #7b7096;
  }
  
  textarea{
      font-family: 'Courier New', Courier, monospace;
      border: 1px solid #6750cc;
      padding: 10px;
      resize: none;
      margin: 5px;
      width: 80%;
      border-radius: 10px;
  }
  
  main p{
      border: 1px dotted #6b50cc;
      padding: 5px;
      margin: 10px auto 10px auto;
      width: 80%;
      border-radius: 10px;
  }